
.logoappli{
        width: 5rem;
        float:right
         
}

.imageiphone{
     display: flex;
     flex-direction: row-reverse;
     background-color: orangered;
     
     
}
@keyframes enlargeText {
    from {
        font-size: 16px; /* Taille de police initiale */
        color: crimson;
    }
    to {
        font-size: 20px; /* Nouvelle taille de police à la fin de l'animation */
        color: blue;
    }
}
.texte-resize p{
    font-size: 2px; /* Taille de police initiale */
    transition: font-size 0.5s ease;
    
    animation: enlargeText 2s ease; 
    animation-fill-mode: forwards;
    
   
}





    


.imageiphone img{
    height: 200px;
   
}




#section2 {

    background-color: white;
    border: 5px solid green;
    height: 400px;
    width: 100%;
}